body{
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 30rem;
    background-color: gray;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    margin-inline: 2px;
    
}
.equal{
    flex: auto;
    background-color: orange;
}
.ac{
    background-color: red;
}
.display{
    margin-top: 1rem;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 3rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    background-color: beige;
    font-size: x-large;
    font-weight: 600;
    
}
button{
    height: 4rem;
    width: 4rem;
    font-weight: 600;
    font-size: large;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    margin-bottom: 1rem;

}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1rem;
}

button:hover{
    background-color: burlywood;
}